/**/.idea
# Do not include manifest, since it contains credentials
/**/*manifest*
/**/deployment.zip
# By default, do not include images
/**/*.png
*.json
#
node_modules
# Python venv exclusion
/**/venv
